@model StudentTeacherSubject.Models.Subject

@{
    ViewData["Title"] = "Create Subject";
}

<h1>Create Subject</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Class" class="control-label"></label>
        <input asp-for="Class" class="form-control" />
        <span asp-validation-for="Class" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label for="languages">Languages</label>
        <input type="text" class="form-control" id="languages" name="languages" />
        <span class="text-danger"></span>
    </div>
    

    <br />
  
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

