@model StudentTeacherSubject.Models.Subject

@{
    ViewData["Title"] = "Delete Subject";
}

<h1>Delete Subject</h1>

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            Class
        </dt>
        <dd class="col-sm-10">
            @Model.Class
        </dd>
        <dt class="col-sm-2">
            Languages
        </dt>
        <dd class="col-sm-10">
            @foreach (var language in Model.Languages)
            {
                <span>@language.Name</span>

                <br />
            }
        </dd>
    </dl>
</div>

<br />
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>

