@model StudentTeacherSubject.Models.Student

<h2>Create Student</h2>

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="FatherName" class="control-label"></label>
        <input asp-for="FatherName" class="form-control" />
        <span asp-validation-for="FatherName" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Age" class="control-label"></label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Class" class="control-label"></label>
        <input asp-for="Class" class="form-control" />
        <span asp-validation-for="Class" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="RollNumber" class="control-label"></label>
        <input asp-for="RollNumber" class="form-control" />
        <span asp-validation-for="RollNumber" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label for="ImageFile" class="control-label">Image</label>
        <input type="file" asp-for="ImagePath" class="form-control" name="imageFile" />
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

