@model StudentTeacherSubject.ViewModel.StudentSubjectsViewModel

<h2>@Model.StudentName's Subjects</h2>

<table class="table">
    <thead>
        <tr>
            <th>Subject</th>
            <th>Class</th>
            <th>Teachers</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subject in Model.Subjects)
        {
            <tr>
                <td>@subject.SubjectName</td>
                <td>@subject.Class</td>
                <td>
                    @if (subject.Teachers != null && subject.Teachers.Any())
                    {
                        @string.Join(", ", subject.Teachers)
                    }
                    else
                    {
                        <em>No teachers assigned</em>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<a asp-action="Index" class="btn btn-primary">Back to List</a>